.vs/ProjectSettings.json
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/tumbleweed/v15/.suo
.vs/tumbleweed/v15/Browse.VC.db
.vs/tumbleweed/v15/ipch/AutoPCH/39ee9d102beac93d/WEEDRAND.ipch
.vs/tumbleweed/v15/ipch/AutoPCH/ef5cf3dbacfac094/OFAPP.ipch
.vscode/settings.json

.vs*